<% @title = "Parsing #{@statement.original.truncate(30).inspect}" %>
<p id="notice"><%= notice %></p>

<% if false %>
<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
<% end %>

<p><%= link_to '&larr; List all'.html_safe, statements_path %></p>
<p><%= link_to '&larr; Parse another'.html_safe, new_statement_path %></p>

<h2><%= @title %></h2>

<h3>Input</h3>

<h4 class="obvious">Original</h4>
<pre><code id="original"><%= show_sql @statement.original %></code></pre>

<h3>Results</h3>

<ol>
  <li><a href="#table_structure">Table structure</a></li>
  <li><a href="#cross_platform_sql">Cross-platform SQL</a></li>
  <li><a href="#errata">Errata</a></li>
</ol>

<p><tt>CreateTable</tt> is still young&mdash;please comment on any errors or surprises in the <a href="#errata">Errata</a> section! Thank you.</p>

<h4 id="table_structure">Table structure</h4>
<p>Number of columns: <%= @statement.columns.length %></p>

<table>
  <tr>
    <th>name</th>
    <th>data_type</th>
    <th>allow_null</th>
    <th>default</th>
    <th>primary_key</th>
    <th>unique</th>
    <th>autoincrement</th>
    <th>charset</th>
    <th>collate</th>
  </tr>
<% @statement.columns.each do |c| %>
  <tr id="column_<%=c.name%>">
    <td class="name"><%= c.name %></td>
    <td class="data_type"><%= c.data_type %></td>
    <td class="allow_null"><%= c.allow_null %></td>
    <td class="default"><%= c.default %></td>
    <td class="primary_key"><%= c.primary_key %></td>
    <td class="unique"><%= c.unique %></td>
    <td class="autoincrement"><%= c.autoincrement %></td>
    <td class="charset"><%= c.charset %></td>
    <td class="collate"><%= c.collate %></td>
  </tr>
<% end %>
</table>

<h4 id="cross_platform_sql">Cross-platform SQL</h4>

<h5><%= link_to 'MySQL', statement_url(@statement, :format => :mysql_sql) %></h5>
<pre><code id="mysql_create_table_sql"><%= show_sql @statement.mysql %></code></pre>

<h5><%= link_to 'PostgreSQL', statement_url(@statement, :format => :postgresql_sql) %></h5>
<pre><code id="postgresql_create_table_sql"><%= show_sql @statement.postgresql %></code></pre>

<h5><%= link_to 'Sqlite3', statement_url(@statement, :format => :sqlite3_sql) %></h5>
<pre><code id="sqlite3_create_table_sql"><%= show_sql @statement.sqlite3 %></code></pre>

<h4 id="errata">Errata</h4>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'create-table'; // required: replace example with your forum shortname
    var disqus_url = '<%= statement_url(@statement) %>';
    <% if Rails.env.development? %>
    var disqus_developer = 1; // developer mode is on
    <% end %>

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
